@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


/* @layer base {
  :root {
    --text: #01130c;
    --background: #f6fefc;
    --primary: #1ff498;
    --secondary: #72e4f8;
    --accent: #50b7f7;
  }
  .dark {
    --text: #ecfef7;
    --background: #010907;
    --primary: #0be084;
    --secondary: #07798d;
    --accent: #086faf;
  }
} */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.testimoni-swiper {
  overflow: hidden !important; /* HIDDENIN total */
}

.testimoni-swiper .swiper-wrapper {
  padding-bottom: 0px;
}

.testimoni-swiper .swiper-slide {
  display: flex;
  justify-content: center;
}

html, body {
  overflow-x: hidden; /* TAMBAHAN SUPAYA BODY GAK SCROLL HORIZONTAL */
}
